server:
  port: 8081

spring:
  application:
    name: AUTHENTICATION-SERVICE
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    generate-ddl: true

  datasource:
    username: postgres
    password: aymen
    url: jdbc:postgresql://localhost:5432/pm_authentication

keycloak:
  realm: project-management
  resource: authentication-service
  auth-server-url: http://localhost:8089/auth
  public-client: true
  credentials:
    secret: 0692e91c-5dc5-4018-9bbe-008ce5bfaaac
  bearer-only: true
