server:
  port: 8082

spring:
  application:
    name: PROJECT-SERVICE
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    generate-ddl: true
  datasource:
    url: jdbc:postgresql://localhost:5432/pm_project
    username: postgres
    password: aymen
  #for upload file to s3 aws
  servlet:
    multipart:
      enabled: true
      max-file-size: 70MB
      max-request-size: 70MB


eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

topic:
  name: report
  assigne: assigneTask